.main-container{
    width: 100vw;
    height: auto;
}

.container{
    /* background-color: gray; */
    padding: 1.5rem;
}

.title{
    text-align: center;
    margin-bottom: 1rem;
}

.secondary-title{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h3{
    margin-top: 1rem;
}

.text{
    margin: 1rem 0;
}

.m-list{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    @media (max-width: 625px){
        display: block;
        li{
            margin: 5px;
        }
    }
}

.text ol{
    margin: auto;
    padding: 1rem;
    max-width: 85vw;
}

.description{
    padding-left: 1.5rem;
}

.text-indent{
    margin-left: 1rem;
}