.main-container{
    /* width: 100vw; */
    height: auto;
    font-size: 1.25rem;
}

.container{
    /* background-color: gray; */
    padding: 1.5rem;
}

.fiximg{
    width: inherit;
}

.description{
    margin-top: 1.5rem;
}

.description1{
    margin-left: 1rem;
}

.title{
    text-align: center;
    margin-bottom: 1rem;
}

.secondary-title{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.third-title{
    font-size: x-large;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h3{
    margin-top: 1rem;
}

.text{
    margin: 1rem 0;
}

.m-list{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    @media (max-width: 625px){
        display: block;
        li{
            margin: 5px;
        }
    }
}

.text ol{
    margin: auto;
    padding: 1rem;
    max-width: 85vw;
}

ul{
    padding-left: 0;
}

.text-indent{
    margin-left: 1rem;
}

.card-img-top {
    width: 100%;
    height: 155px;
    object-fit: cover;
}

.card{
    width: 18rem;
}

.card-text{
    max-height: 7rem;
    overflow: auto auto;
}

.card-text1{
    max-height: 8.5rem;
    overflow: auto auto;
}

.card-text2{
    max-height: 7rem;
    overflow: auto auto;
}

.ct::-webkit-scrollbar {
    width: 5px; 
}

.ct::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; 
}

.ct::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.img-scroll {
    max-width: 100%; /* Ensures the image does not exceed its container */
    max-height: 100%; /* Ensures the image does not exceed its container */
    overflow: auto; /* Enables scrolling if the image overflows its container */
  }