@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Add this line to include padding and borders in the element's total width and height */
}

.container h1{
    text-align: center;
    margin-bottom: 2rem;
}

.container h3{
    margin-bottom: 2rem;
}

.box {
    height: max-content; /* Increased height for demonstration */
    margin: 1rem 0;
    border: 1px solid black;
    border-radius: .5rem;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden; /* Ensures that content stays within the box */
}

.upperpart {
    width: 100%; /* Use 100% for full width relative to .box */
    height: 40%; /* Height of the upper part - adjust as needed */
    background-color: #2f2f2f;
    color: white;
    padding: .5rem 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Centers text horizontally */
    border-bottom: 1px solid black; /* Optional: separate the two parts visually */
}

.upperpart span{
    display: flex;
    align-items: center;
    gap: .2rem;
}

.lowerpart {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 1rem .5rem;
    background-color: black;
    color: white;
    font-size: 1rem;
}

.copy-button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: small;
}

.lowerpart p{
    margin: 0;
    font-family: monospace;
    font-weight: normal;
    font-size: larger;
}

.cmd1{
    color: #00a67d;
}

.cmd2{
    color: #df3079;
}

.cmd3{
    color: #2e95d3;
}

.table, .table tbody td, .table tbody th{
    text-align: center;
    border: 1px solid #2f2f2f;
}

.cmdtitle{
    font-size: small;
}